.title {
	text-align: center;
	margin-bottom: 32px;
}

.mainContentWidth {
	width: 100%;
	max-width: 420px;
}

.centeredContainer {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 60px;
}
